---
layout: skeleton
---

<style>
  .bg-hero {
    background: url('{{site.baseurl}}/images/hero-banner-stp.svg') no-repeat center 100px; 
    background-color: #F8DDDE;
    max-height:400px;
  }
  
  .bp-hero h3 {
    font-size:25px;
    letter-spacing: 0;
    line-height: 1.4em;
    color: #333;
  }
  
  .bp-hero-body {
    background: none;
  }
  
  .helper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
  }

  .is-hidden-desktop .helper {
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .isomer-agency-logo {
    max-height: 50px;
  }
</style>

{%- assign notification = site.notification | strip -%}
{%- if notification != "" -%}
<div id="notification-bar" class="bp-notification bg-secondary is-marginless">
  <div class="bp-container">
    <div class="row">
      <div class="col">
        <div class="field has-addons bp-notification-flex">
          <div class="control has-text-white">
            {{- notification -}}
          </div>
          <div class="control">
            <a id="cancel-notification" class="button has-text-white">
              <span class="delete sgds-icon sgds-icon-cross is-size-4"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%- endif -%}

<section class="bp-hero bg-hero">
  <div class="bp-hero-body">
    <div class="bp-container margin--top--lg">
      <div class="row is-vcentered is-centered ma">
        <div class="col is-6 has-text-centered" style="margin-bottom:100px; ">
          <h3>As Singapore progressively reopens amid the COVID-19 pandemic, Singapore has implemented special travel arrangements with some countries/regions to facilitate travel while safeguarding public health.</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="key-highlights" class="bp-section is-paddingless">
  <div class="bp-container">
    <div class="row is-gapless has-text-centered">
       <div class="col">
        <a href="/australia/atp/requirements-and-process" class="is-highlight">
          <div class="key-highlights-text">
            <p class="has-text-weight-semibold has-text-white key-highlight-title is-uppercase padding--top--xs">TRAVELLERS FROM AUSTRALIA</p>
            <p class="has-text-white-trans padding--bottom--sm">For foreigners who are short-term visitors applying for an Air Travel Pass to travel to Singapore</p>
          </div>
        </a>
      </div>      
      <div class="col">
        <a href="/brunei/overview" class="is-highlight">
          <div class="key-highlights-text">
            <p class="has-text-weight-semibold has-text-white key-highlight-title is-uppercase padding--top--xs">TRAVELLERS FROM BRUNEI DARUSSALAM</p>
            <p class="has-text-white-trans padding--bottom--sm">For travellers under the Air Travel Pass and the Reciprocal Green Lane</p>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/china/rgl/requirements-and-process" class="is-highlight">
          <div class="key-highlights-text">
            <p class="has-text-weight-semibold has-text-white key-highlight-title is-uppercase padding--top--xs">TRAVELLERS FROM CHINA</p>
            <p class="has-text-white-trans padding--bottom--sm">For business or official travellers from 6 regions in mainland China under the Singapore-China Fast Lane</p>
          </div>
        </a>
      </div>
       <div class="col">
        <a href="/indonesia/rgl/requirements-and-process" class="is-highlight">
          <div class="key-highlights-text">
            <p class="has-text-weight-semibold has-text-white key-highlight-title is-uppercase padding--top--xs">TRAVELLERS FROM INDONESIA</p>
            <p class="has-text-white-trans padding--bottom--sm">For business or official travellers from Indonesia under the Reciprocal Green Lane</p>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/japan/rgl/requirements-and-process" class="is-highlight">
          <div class="key-highlights-text">
            <p class="has-text-weight-semibold has-text-white key-highlight-title is-uppercase padding--top--xs">TRAVELLERS FROM JAPAN</p>
            <p class="has-text-white-trans padding--bottom--sm">For business or official travellers from Japan under the Reciprocal Green Lane</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section id="key-highlights" class="bp-section is-paddingless is-hidden-touch" style="border-top:1px solid #a73a3b;">
  <div class="bp-container">
    <div class="row is-gapless has-text-centered">
      <div class="col">
        <a href="/malaysia/overview" class="is-highlight">
          <div class="key-highlights-text">
            <p class="has-text-weight-semibold has-text-white key-highlight-title is-uppercase padding--top--xs">TRAVELLERS FROM MALAYSIA</p>
            <p class="has-text-white-trans padding--bottom--sm">For travellers under the Periodic Commuting Arrangement and the Reciprocal Green Lane</p>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/newzealand/atp/requirements-and-process" class="is-highlight">
          <div class="key-highlights-text">
            <p class="has-text-weight-semibold has-text-white key-highlight-title is-uppercase padding--top--xs">TRAVELLERS FROM NEW ZEALAND</p>
            <p class="has-text-white-trans padding--bottom--sm">For foreigners who are short-term visitors applying for an Air Travel Pass to travel to Singapore</p>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/rok/rgl/requirements-and-process" class="is-highlight">
          <div class="key-highlights-text">
            <p class="has-text-weight-semibold has-text-white key-highlight-title is-uppercase padding--top--xs">TRAVELLERS FROM REPUBLIC OF KOREA</p>
            <p class="has-text-white-trans padding--bottom--sm">For business or official travellers from ROK under the Singapore-ROK Fast Lane</p>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/vietnam/atp/requirements-and-process" class="is-highlight">
          <div class="key-highlights-text">
            <p class="has-text-weight-semibold has-text-white key-highlight-title is-uppercase padding--top--xs">TRAVELLERS FROM VIETNAM</p>
            <p class="has-text-white-trans padding--bottom--sm">For foreigners who are short-term visitors applying for an Air Travel Pass to travel to Singapore</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section id="key-highlights" class="bp-section is-paddingless is-hidden-desktop">
  <div class="bp-container">
    <div class="row is-gapless has-text-centered">
      <div class="col">
        <a href="/malaysia/overview" class="is-highlight">
          <div class="key-highlights-text">
            <p class="has-text-weight-semibold has-text-white key-highlight-title is-uppercase padding--top--xs">TRAVELLERS FROM MALAYSIA</p>
            <p class="has-text-white-trans padding--bottom--sm">For travellers under the Periodic Commuting Arrangement and the Reciprocal Green Lane</p>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/newzealand/atp/requirements-and-process" class="is-highlight">
          <div class="key-highlights-text">
            <p class="has-text-weight-semibold has-text-white key-highlight-title is-uppercase padding--top--xs">TRAVELLERS FROM NEW ZEALAND</p>
            <p class="has-text-white-trans padding--bottom--sm">For foreigners who are short-term visitors applying for an Air Travel Pass to travel to Singapore</p>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/rok/rgl/requirements-and-process" class="is-highlight">
          <div class="key-highlights-text">
            <p class="has-text-weight-semibold has-text-white key-highlight-title is-uppercase padding--top--xs">TRAVELLERS FROM REPUBLIC OF KOREA</p>
            <p class="has-text-white-trans padding--bottom--sm">For business or official travellers from ROK under the Singapore-ROK Fast Lane</p>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/vietnam/atp/requirements-and-process" class="is-highlight">
          <div class="key-highlights-text">
            <p class="has-text-weight-semibold has-text-white key-highlight-title is-uppercase padding--top--xs">TRAVELLERS FROM VIETNAM</p>
            <p class="has-text-white-trans padding--bottom--sm">For foreigners who are short-term visitors applying for an Air Travel Pass to travel to Singapore</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section id="collaboration" class="bp-section">
  <div class="bp-container">
    <div class="row">
      <div class="col is-8 is-offset-2 has-text-centered padding--top--lg">
        <p class="padding--bottom eyebrow is-uppercase">
          A collaboration between
        </p>
      </div>
    </div>
    <div class="row has-text-centered margin--top padding--bottom is-hidden-touch">
      <div class="col helper">
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-govtech.gif" alt="Government Technolog Agency of Singapore" />
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-sndgo.png" alt="Smart Nation and Digital Government Office" />
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-sgunited.png" alt="SG United" />
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-mti.svg" alt="Ministry of Trade & Industry" />
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-mot.jpg" alt="Ministry of Transport" />
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-ica.svg" alt="Immigration & Checkpoints Authority" />
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-caas.png" alt="Civil Aviation Authority of Singapore" />
      </div>
    </div>
    <div class="row has-text-centered margin--top padding--bottom is-hidden-desktop">
      <div class="col is-one-quarter helper">
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-govtech.gif" alt="Government Technolog Agency of Singapore" />
      </div>
      <div class="col is-one-quarter helper">
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-sndgo.png" alt="Smart Nation and Digital Government Office" />
      </div>
      <div class="col is-one-quarter helper">
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-sgunited.png" alt="SG United" />
      </div>
      <div class="col is-one-quarter helper">
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-mti.svg" alt="Ministry of Trade & Industry" />
      </div>
      <div class="col is-one-quarter helper">
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-mot.jpg" alt="Ministry of Transport" />
      </div>
      <div class="col is-one-quarter helper">
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-ica.svg" alt="Immigration & Checkpoints Authority" />
      </div>
      <div class="col is-one-quarter helper">
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-caas.png" alt="Civil Aviation Authority of Singapore" />
      </div>
    </div>
  </div>
</section>
