---
layout: skeleton
---
<style>
  .bg-hero {
    background: url('{{site.baseurl}}/images/hero-banner-stp.png') no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
    background-color: #EBF3F3;
  }
  
  .bp-hero h1 {
    font-size: 40px;
    letter-spacing: 0;
    line-height: 1.3em;
    color: #3F3D56;
  }
  
  .bp-hero p {
    color: #3F3D56;
  }
  
  .bp-hero-body {
    background: rgba(255, 255, 255, .75);
  }
  
  .col-text {
    display: flex;
  }
  
  .col-text h3 {
    margin: auto;
    color: #3F3D56;
  }
  
  #applystp .bp-section {
    padding: 0.1rem 1.5rem;
  }
  
  #applystp h2 {
    text-align: center;
  }
</style>

<section class="bp-hero bg-hero">
  <div class="bp-hero-body">
    <div class="bp-container margin--top--lg">
      <div class="row is-vcentered is-centered ma">
        <div class="col is-9 has-text-centered">
          <h1 class="display padding--bottom--lg margin--none"><b>Get your SafeTravel Pass before travelling to Singapore</b></h1>
          <p class="padding--bottom--lg">Amid the Covid-19 pandemic, travellers into Singapore under green lane arrangements must obtain a SafeTravel Pass before travelling</p>
          <a href="#" target="_blank" class="bp-button is-secondary is-uppercase search-button">Apply Now</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="key-highlights" class="bp-section is-paddingless">
  <div class="bp-container">
    <div class="row is-gapless has-text-centered">
       <div class="col">
         <a href="https://www.ica.gov.sg/visitor/visitor_entryvisa" target="_blank" class="is-highlight" rel="noreferrer">
           <div class="key-highlights-text">
             <p class="has-text-weight-semibold has-text-white key-highlight-title is-uppercase padding--top--xs">ENTRY VISA APPLICATION</p>
             <p class="has-text-white-trans padding--bottom--sm">Travellers who have obtained their SafeTravel Pass and requires a visa to enter Singapore needs to apply for an entry visa</p>
           </div>
         </a>
      </div>
      <div class="col">
         <a href="#" target="_blank" class="is-highlight" rel="noreferrer">
           <div class="key-highlights-text">
             <p class="has-text-weight-semibold has-text-white key-highlight-title is-uppercase padding--top--xs">SUBMIT TRAVEL ITINERARY</p>
             <p class="has-text-white-trans padding--bottom--sm">Travellers who have obtained their SafeTravel Pass and entry visa (if applicable) must submit their final travel itinerary</p>
           </div>
         </a>
      </div>
    </div>
  </div>
</section>

<div id="applystp">
<section class="bp-section bg-newssection padding--top--xl">
  <h2><b>Apply for SafeTravel Pass in 3 simple steps</b></h2>
  <div class="bp-container">
    <div class="row is-hidden-desktop is-hidden-tablet-only">
      <div class="col col-text is-half padding--bottom padding--top--xl">
        <h3 class="padding--bottom">
          <b>1. Sponsoring organisation submits SafeTravel Pass application</b>
        </h3>
        <p>Application must be submitted at least 10 working days prior to the week of intended travel; up to 20 working days in advance.</p>
      </div>
      <div class="col is-half">
        <img src="/images/stp-apply-1.png" alt="1. Sponsoring organisation submits SafeTravel Pass application">
      </div>
    </div>
    <div class="row is-hidden-mobile is-hidden-desktop">
      <div class="col is-half">
        <img src="/images/stp-apply-1.png" alt="1. Sponsoring organisation submits SafeTravel Pass application">
      </div>
      <div class="col col-text is-half">
        <h3 class="padding--bottom">
          <b>1. Sponsoring organisation submits SafeTravel Pass application</b>
        </h3>
        <p>Application must be submitted at least 10 working days prior to the week of intended travel; up to 20 working days in advance.</p>
      </div>
    </div>
    <div class="row is-hidden-mobile is-hidden-tablet-only">
      <div class="col is-half">
        <img src="/images/stp-apply-1.png" alt="1. Sponsoring organisation submits SafeTravel Pass application">
      </div>
      <div class="col col-text is-half">
        <h3 class="padding--bottom">
          <b>1. Sponsoring organisation submits SafeTravel Pass application</b>
        </h3>
        <p>Application must be submitted at least 10 working days prior to the week of intended travel; up to 20 working days in advance.</p>
      </div>
    </div>
  </div>
</section>

<section class="bp-section">
  <div class="bp-container">
    <div class="row is-hidden-desktop is-hidden-tablet-only">
      <div class="col col-text is-half padding--bottom padding--top--xl">
        <h3 class="padding--bottom">
          <b>2. Processing of SafeTravel Pass application</b>
        </h3>
        <p>Processing time will take 3 working days</p>
      </div>
      <div class="col is-half">
        <img src="/images/stp-apply-2.png" alt="2. Processing of SafeTravel Pass application" />
      </div>
    </div>
    <div class="row is-hidden-mobile is-hidden-desktop">
      <div class="col col-text is-half">
        <h3 class="padding--bottom">
          <b>2. Processing of SafeTravel Pass application</b>
        </h3>
        <p>Processing time will take 3 working days</p>
      </div>
      <div class="col is-half">
        <img src="/images/stp-apply-2.png" alt="2. Processing of SafeTravel Pass application" />
      </div>
    </div>
    <div class="row is-hidden-mobile is-hidden-tablet-only">
      <div class="col col-text is-half">
        <h3 class="padding--bottom">
          <b>2. Processing of SafeTravel Pass application</b>
        </h3>
        <p>Processing time will take 3 working days</p>
      </div>
      <div class="col is-half">
        <img src="/images/stp-apply-2.png" alt="2. Processing of SafeTravel Pass application" />
      </div>
    </div>
  </div>
</section>

<section class="bp-section bg-newssection">
  <div class="bp-container">
    <div class="row is-hidden-desktop is-hidden-tablet-only">
      <div class="col col-text is-half padding--bottom padding--top--xl">
        <h3 class="padding--bottom">
          <b>3. Receives SafeTravel Pass</b>
        </h3>
        <p>The sponsoring organisation and traveller will be informed by email on the application status and receive the SafeTravel Pass when it's approved.</p>
      </div>
      <div class="col is-half">
        <img src="/images/stp-apply-3.png" alt="3. Receives SafeTravel Pass">
      </div>
    </div>
    <div class="row is-hidden-mobile is-hidden-desktop">
      <div class="col is-half">
        <img src="/images/stp-apply-3.png" alt="3. Receives SafeTravel Pass">
      </div>
      <div class="col col-text is-half">
        <h3 class="padding--bottom">
          <b>3. Receives SafeTravel Pass</b>
        </h3>
        <p>The sponsoring organisation and traveller will be informed by email on the application status and receive the SafeTravel Pass when it's approved.</p>
      </div>
    </div>
    <div class="row is-hidden-mobile is-hidden-tablet-only">
      <div class="col is-half">
        <img src="/images/stp-apply-3.png" alt="3. Receives SafeTravel Pass">
      </div>
      <div class="col col-text is-half">
        <h3 class="padding--bottom">
          <b>3. Receives SafeTravel Pass</b>
        </h3>
        <p>The sponsoring organisation and traveller will be informed by email on the application status and receive the SafeTravel Pass when it's approved.</p>
      </div>
    </div>
  </div>
</section>
</div>
