---
layout: skeleton
---

<!--Hero Banner--> 
<style>
  .bg-hero {
    background: url('{{site.baseurl}}/images/hero-banner-stp.svg') no-repeat center 100px; /*vector position*/
    background-color: #F8DDDE;
    max-height: 400px /* control height of banner */
  }
  
  .bp-hero h3 {
    font-size: 20px;
    letter-spacing: 0;
    line-height: 1.4em;
    color: #333;
  }
  
  .bp-hero-body {
    background: none;
  }
  
  .helper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
  }

  .is-hidden-desktop .helper {
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .isomer-agency-logo {
    max-height: 50px;
  }


#ul {     
    padding:0;     
    margin:0 
  }
	
.button {
	  border: none;
	  color: white;
	  padding: 15px 32px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
	  margin: 4px 2px;
	  transition-duration: 0.4s;
	  cursor: pointer;
        }

.button1 {background-color: #153855;} /* ICA Blue */
.button2 {background-color: #cd0000;} /* ICA Red */

.button1 {
  background-color: #153855; 
  color: white; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: #cd0000; 
  color: white; 
  border: 2px solid #153855;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

	
</style>

<!-- Notification Bar for maintenance -->
{%- assign notification = site.notification | strip -%}
{%- if notification != "" -%}
<div id="notification-bar" class="bp-notification bg-secondary is-marginless">
  <div class="bp-container">
    <div class="row">
      <div class="col">
        <div class="field has-addons bp-notification-flex">
          <div class="control has-text-white">
            {{- notification -}}
          </div>
          <div class="control">
            <a id="cancel-notification" class="button has-text-white">
              <span class="delete sgds-icon sgds-icon-cross is-size-4"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%- endif -%}

<section class="bp-hero bg-hero">
  <div class="bp-hero-body">
    <div class="bp-container margin--top--sm">
      <div class="row is-vcentered is-centered ma">
        <div class="col is-6 has-text-centered">
          	<h3> Singapore has implemented international Safe Travel Lanes to facilitate travel in and out of Singapore, while safeguarding public health amidst the COVID-19 pandemic.</h3>
        	<br>
		<h3> Click the buttons below to find out which Safe Travel Lanes are applicable when entering Singapore from a specific Country/Region.</h3>
		<a href="/arriving/overview" class="button button1">Travelling to Singapore (Test)</a>
		<!--
		<div>

	<select name="forma" onchange=" location = this.value;">
	 <option value="https://safetravel.ica.gov.sg/malaysia/overview">Malaysia</option>
	 <option value="Contact.php">Contact</option>
	 <option value="Sitemap.php">Sitemap</option>
	
	</select>

		</div>
	-->

<!--
		<div style="left:50px;">
<ul id='menu' style="position:absolute; z-index: 9; margin: 20px;">    
   <li><a href='#'>I am travelling from...</a>    
     <ul>    
         <li><a href='#'>Malaysia</a></li>    
         <li><a href='#'>China</a></li>    
         <li><a href='#'>Australia</a></li>  
	     <li><a href='#'>Vietnam</a></li>  
	     <li><a href='#'>Brunei</a></li>  
     </ul>    
   </li>    
   <li><a href='#'>I am holding a pass type of...</a>    
     <ul>    
         <li><a href='#'>Long term pass</a></li>    
         <li><a href='#'>Student pass</a></li>    
         <li><a href='#'>Short term visit pass</a></li>    
     </ul>    
   </li>    
</ul> 
-->	

	</div>
	</div>
      	</div>
   	</div>
	</div>
</section>

<!--

<section id="key-highlights" class="bp-section is-paddingless">
  <div class="bp-container">
    <div class="row is-gapless has-text-centered">
       <div class="col">
        <a href="https://www.ica.gov.sg/covid-19/enteringsg" class="is-highlight">
          <div class="key-highlights-text">
            <p class="has-text-weight-semibold has-text-white key-highlight-title is-uppercase padding--top--xs">Before Entering Singapore</p>
            <p class="has-text-white-trans padding--bottom--sm">Information on what to do before entering Singapore</p>
          </div>
        </a>
      </div>      
      <div class="col">
        <a href="https://www.ica.gov.sg/covid-19/ArrivalSG" id="key-highlights">
          <div class="key-highlights-text">
            <p class="has-text-weight-semibold has-text-white key-highlight-title is-uppercase padding--top--xs">Arrival in Singapore</p>
            <p class="has-text-white-trans padding--bottom--sm">What to expect on arrival in Singapore</p>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="https://www.ica.gov.sg/covid-19/SHN" class="is-highlight">
          <div class="key-highlights-text">
            <p class="has-text-weight-semibold has-text-white key-highlight-title is-uppercase padding--top--xs">Stay-Home Notice (SHN) and Post-Arrival Swab</p>
            <p class="has-text-white-trans padding--bottom--sm">Details on SHN and subsequent health monitoring within Singapore after arrival</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
--> 

<!-- Key highlights by country --> 

<section id="key-highlights" class="bp-section is-paddingless">
  <div class="bp-container">
    <div class="row is-gapless has-text-centered">
       <div class="col">
        <a href="/australia/atp/requirements-and-process" class="is-highlight">
          <div class="key-highlights-text">
            <p class="has-text-weight-semibold has-text-white key-highlight-title is-uppercase padding--top--xs">AUSTRALIA (EXCLUDING VICTORIA)</p>
		  <p class="has-text-white-trans padding--bottom--sm">For Victoria, click on "Rest of the World"</p>
          </div>
        </a>
      </div>      
      <div class="col">
        <a href="/brunei/overview" class="is-highlight">
          <div class="key-highlights-text">
            <p class="has-text-weight-semibold has-text-white key-highlight-title is-uppercase padding--top--xs">BRUNEI DARUSSALAM</p>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/china/rgl/requirements-and-process" class="is-highlight">
          <div class="key-highlights-text">
            <p class="has-text-weight-semibold has-text-white key-highlight-title is-uppercase padding--top--xs">CHINA (Chongqing, Guangdong, Jiangsu, Shanghai, Tianjin, Zhejiang)</p>
		<p class="has-text-white-trans padding--bottom--sm">For other provinces of China, click on "Rest of the World"</p>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/japan/rgl/requirements-and-process" class="is-highlight">
          <div class="key-highlights-text">
            <p class="has-text-weight-semibold has-text-white key-highlight-title is-uppercase padding--top--xs">JAPAN</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section id="key-highlights" class="bp-section is-paddingless is-hidden-touch" style="border-top:1px solid #a73a3b;">
  <div class="bp-container">
    <div class="row is-gapless has-text-centered">
      <div class="col">
        <a href="/malaysia/overview" class="is-highlight">
          <div class="key-highlights-text">
            <p class="has-text-weight-semibold has-text-white key-highlight-title is-uppercase padding--top--xs">MALAYSIA</p>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/newzealand/atp/requirements-and-process" class="is-highlight">
          <div class="key-highlights-text">
            <p class="has-text-weight-semibold has-text-white key-highlight-title is-uppercase padding--top--xs">NEW ZEALAND</p>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/rok/rgl/requirements-and-process" class="is-highlight">
          <div class="key-highlights-text">
            <p class="has-text-weight-semibold has-text-white key-highlight-title is-uppercase padding--top--xs">REPUBLIC OF KOREA</p>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/vietnam/atp/requirements-and-process" class="is-highlight">
          <div class="key-highlights-text">
            <p class="has-text-weight-semibold has-text-white key-highlight-title is-uppercase padding--top--xs">VIETNAM</p>
          </div>
        </a>
      </div> 
    </div>
  </div>
</section>

<section id="key-highlights" class="bp-section is-paddingless is-hidden-touch" style="border-top:1px solid #a73a3b;">
  <div class="bp-container">
    <div class="row is-gapless has-text-centered">
      <div class="col">
        <a href="/rotw/overview" class="is-highlight">
          <div class="key-highlights-text">
            <p class="has-text-weight-semibold has-text-white key-highlight-title is-uppercase padding--top--xs">REST OF THE WORLD</p>
          </div>
        </a>
      </div>
  </div>
</section>

<!-- for mobile due to is-hidden-desktop-->
<section id="key-highlights" class="bp-section is-paddingless is-hidden-desktop">
  <div class="bp-container">
    <div class="row is-gapless has-text-centered">
      <div class="col">
        <a href="/malaysia/overview" class="is-highlight">
          <div class="key-highlights-text">
            <p class="has-text-weight-semibold has-text-white key-highlight-title is-uppercase padding--top--xs">MALAYSIA</p>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/newzealand/atp/requirements-and-process" class="is-highlight">
          <div class="key-highlights-text">
            <p class="has-text-weight-semibold has-text-white key-highlight-title is-uppercase padding--top--xs">NEW ZEALAND</p>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/rok/rgl/requirements-and-process" class="is-highlight">
          <div class="key-highlights-text">
            <p class="has-text-weight-semibold has-text-white key-highlight-title is-uppercase padding--top--xs">REPUBLIC OF KOREA</p>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/vietnam/atp/requirements-and-process" class="is-highlight">
          <div class="key-highlights-text">
            <p class="has-text-weight-semibold has-text-white key-highlight-title is-uppercase padding--top--xs">VIETNAM</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section id="key-highlights" class="bp-section is-paddingless is-hidden-desktop">
  <div class="bp-container">
    <div class="row is-gapless has-text-centered">
      <div class="col">
        <a href="/rotw/overview" class="is-highlight">
          <div class="key-highlights-text">
            <p class="has-text-weight-semibold has-text-white key-highlight-title is-uppercase padding--top--xs">REST OF THE WORLD</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<!--Collaboration bottom--> 
<section id="collaboration" class="bp-section">
  <div class="bp-container">
    <div class="row">
      <div class="col is-8 is-offset-2 has-text-centered padding--top--lg">
        <p class="padding--bottom eyebrow is-uppercase">
          A collaboration among
        </p>
      </div>
    </div>
    <div class="row has-text-centered margin--top padding--bottom is-hidden-touch">
      <div class="col helper">
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-govtech.gif" alt="Government Technolog Agency of Singapore" />
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-sndgo.png" alt="Smart Nation and Digital Government Office" />
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-sgunited.png" alt="SG United" />
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-mti.svg" alt="Ministry of Trade & Industry" />
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-mot.jpg" alt="Ministry of Transport" />
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-caas.png" alt="Civil Aviation Authority of Singapore" />
      </div>
    </div>
    <div class="row has-text-centered margin--top padding--bottom is-hidden-desktop">
      <div class="col is-one-quarter helper">
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-govtech.gif" alt="Government Technolog Agency of Singapore" />
      </div>
      <div class="col is-one-quarter helper">
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-sndgo.png" alt="Smart Nation and Digital Government Office" />
      </div>
      <div class="col is-one-quarter helper">
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-sgunited.png" alt="SG United" />
      </div>
      <div class="col is-one-quarter helper">
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-mti.svg" alt="Ministry of Trade & Industry" />
      </div>
      <div class="col is-one-quarter helper">
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-mot.jpg" alt="Ministry of Transport" />
      </div>
      <div class="col is-one-quarter helper">
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-caas.png" alt="Civil Aviation Authority of Singapore" />
      </div>
    </div>
  </div>
</section>
